// Viewports

$tablet-width: 768px;
$desktop-width: 1320px;
$mobile-width-only: 767px;

// Colors

$main-color: #68b738;
$secondary-color: #5eaa2f;
$error-color: #ff8282;

// Gray
$gray--lighten: #f2f2f2;
$gray--light: #ebebeb;
$gray: #cdcdcd;
$gray--dark: #666;
$gray--darken: #444;
$gray--darkest: #222;
