.button {
  min-height: 40px;
  padding: 10px 26px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 400 16px/20px 'Oswald', 'Arial', sans-serif;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $main-color;

  @media (pointer: fine) {

    &:hover,
    &:focus,
    &:active {
      background-color: $secondary-color;
    }

    &:active {
      color: rgba(#fff, 0.3);
    }
  }

  &--secondary {
    color: $gray--darken;
    background-color: $gray--lighten;

    @media (pointer: fine) {

      &:hover,
      &:focus,
      &:active {
        background-color: $gray--light;
      }

      &:active {
        color: rgba($gray--darken, 0.3);
      }
    }
  }
}
