.copyright {
  display: flex;
  align-items: center;
}

.copyright__icon {
  width: 27px;
  height: 34px;
  margin-left: auto;
  flex-shrink: 0;
  fill: $gray--dark;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
  }
}

.copyright__link {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: $gray--darken;
  text-decoration: none;

  @media (pointer:fine) {

    &:hover .copyright__icon,
    &:focus .copyright__icon {
      fill: $main-color;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
