.logo--header {
  min-height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.logo__img {
  width: 34px;
  height: 37px;
  position: absolute;
  top: 12px;
  left: 20px;

  @media (min-width: $tablet-width) {
    position: static;
  }
}

.logo__txt {
  width: 101px;
  height: 18px;
  margin: 0 auto;
}

