.logo {

  &:hover,
  &:focus {

    @media (min-width: $tablet-width) {
      opacity: 0.8;
    }
  }

  &:active {

    @media (min-width: $tablet-width) {
      opacity: 0.6;
    }
  }
}

.logo--header {
  min-height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 174px;
    min-height: initial;
    height: 52px;
    flex-shrink: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.logo--footer {
  padding: 8px 0;
  display: block;

  svg {
    width: 128px;
    height: 24px;
    display: block;
  }
}

.logo__svg {
  width: 101px;
  height: 18px;
  display: none;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.logo__use-desktop-effect {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.logo__mobile-img {
  width: 34px;
  height: 38px;
  position: absolute;
  top: 12px;
  left: 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo__mobile-txt {
  width: 101px;
  height: 18px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
