.logo--header {
  min-height: 66px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 174px;
    min-height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    min-height: 59px;
  }
}

.logo__img {
  width: 34px;
  height: 37px;
  position: absolute;
  top: 12px;
  left: 20px;

  @media (min-width: $tablet-width) {
    position: static;
    align-self: center;
  }
}

.logo__txt {
  width: 101px;
  height: 18px;
  margin: 0 auto;
  align-self: center;
}

