.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font: 500 20px/1 'Oswald', 'Arial', sans-serif;
  text-transform: uppercase;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    font: 400 18px/24px 'Oswald', 'Arial', sans-serif;
  }

  @media (min-width: $desktop-width) {
    font: 400 20px/29px 'Oswald', 'Arial', sans-serif;
  }
}

.main-nav__item {
  min-height: 66px;
  border-top: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    min-height: initial;
    margin-left: 32px;
    border: none;
    position: relative;
    display: initial;

    &--active a {

      &::before {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 2px;
        display: block;
        background-color: $main-color;
      }
    }
  }

  @media (min-width: $desktop-width) {

    &--active a {

      &::before {
        bottom: 4px;
        background-color: $main-color;
      }
    }
  }
}

.main-nav__item a {
  padding: 20px 10px;
  display: block;
  color: #000;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 12px 0;
  }

  @media (min-width: $desktop-width) {
    color: #111;
  }
}

.main-nav__item a[href] {

  @media (min-width: $tablet-width) {

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }


}

.main-nav--index {

  .main-nav__item {

    a {
      @media (min-width: $desktop-width) {
        color: #fff;
      }

      &::before {
        background-color: #fff;
      }
    }
  }
}

.main-nav__toggle {
  width: 65px;
  height: 65px;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {

  &::before {
    content: '';
    width: 25px;
    height: 2px;
    position: absolute;
    background-color: #000;
    top: 25px;
    right: 20px;
    box-shadow: 0 7px 0 0 #000,
                0 14px 0 0 #000;
  }
}

.main-nav--closed .main-nav__list {

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {

  &::before,
  &::after {
    content: '';
    width: 25px;
    height: 2px;
    position: absolute;
    top: 32px;
    right: 23px;
    display: block;
    background-color: #000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
