.page-header {
  width: 100%;

  @media (max-width: $mobile-width-only) {
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
    position: relative;

    &--index::before {
      content: '';
      width: 50vw;
      height: 696px;
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      background: url('../img/backgrounds/promo-desktop-bg.jpg') right center / auto 696px no-repeat #65a93c;
    }
  }

  &--index {

    @media (min-width: $tablet-width) {

      .page-header__nav {
        max-width: 610px;
      }
    }
  }
}

.page-header__nav {

  @media (min-width: $tablet-width) {
    margin-top: 6px;
    margin-left: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 900px;
    margin-top: 4px;
    margin-left: 16px;
  }
}
